{%extends 'base.html'%}

{% block content %}

{% if user.is_authenticated %}
<h1 class="container" style="text-align: center">{{user.username}}'s profile:</h1>

<div class="container"  style="text-align: center">
<h2>New post:</h2>
    <form method="POST" class="post-form">{% csrf_token %}
     
       {{ form.as_p }}
        <button type="submit" class="save btn btn-primary">Save</button>
    
    </form>


    <br><br>
    <p><a href="{% url 'logout' %}"><button class="btn btn-danger">logout</button></a></p>

 </div>
    {% endif %}
{% endblock %}